
{% extends 'baseFront.html.twig' %}

{% block body %}
<section class="dark-wrapper opaqued parallax" data-parallax="scroll" data-image-src="assets/img/bg/bg2.jpg" data-speed="0.7">
    <div class="section-inner pad-top-200">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 mt30 wow text-center">
                    <h2 class="section-heading">Liste des Films</h2>
                </div>
            </div>
        </div>
    </div>
</section>
    <section id="welcome">
        <div class="m-portlet__body">
            <!--begin::Section-->

        <div class="section-inner">



            </div>

                <div class="m-section">
                    <div class="m-section__content">
                        {% for U in film %}
                            <ul class="products list-unstyled grid-view isotope_container-tcHIDE">




                                <div class="vertical-item content-padding text-center with_shadow rounded">
                                    <div class="item-media with_background" style="border: solid">

                                        ,

                                        <td style="height: 200px;width: 200px;"><img src="{{ asset('img/' ~ U.image) }}" style="height: 200px;width: 200px;">
                                        </td>


                                        <button type="submit" class="btn" id="btn{{ U.id }}" style="background-color: #1b6d85 ; color: white"> Voir toutes les informations</button>

                                    </div> <!-- eof .item-media -->
                                    <div class="item-content">

                                        <!-- The Modal -->
                                        <div id="{{ U.id }}" class="modal">

                                            <!-- Modal content -->
                                            <div class="modal-content">
                                                <table border="0">
                                                    <tr>
                                                        <td style="height: 200px;width: 200px;"><img src="{{ asset('img/' ~ U.image) }}" style="height: 200px;width: 200px;">
                                                        </td>
                                                    </tr>

                                                    <tr>

                                                        <td> Film : {{ U.nom }} de catégorie : {{ U.categorie }} </td>
                                                    </tr>

                                                    <tr>
                                                        <td> <h3>Description  </h3>
                                                            {{ U.synopsis }}</td>


                                                    </tr>
                                                    <tr>
                                                        <td> <h3>Durée  </h3>
                                                            {{ U.duree }}</td>
                                                    </tr>

                                                    <tr>
                                                        <td> <h3>Acteur  </h3>
                                                            {{ U.actor }}</td>


                                                    </tr>


                                                    <p>
                                                    <div style="border-right-color: #060606";>
                                                        <i class="fas fa-star" data-index="0" style="color: #060606"></i>
                                                        <i class="fas fa-star" data-index="1"></i>
                                                        <i class="fas fa-star" data-index="2"></i>
                                                        <i class="fas fa-star" data-index="3"></i>
                                                        <i class="fas fa-star" data-index="4"></i>
                                                        <br><br>
                                                        <?php echo round($avg,2) ?>
                                                    </div>

                                                    <script src="http://code.jquery.com/jquery-3.4.0.min.js" integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg=" crossorigin="anonymous"></script>
                                                    <script>
                                                        var ratedIndex = -1, uID = 0;

                                                        $(document).ready(function () {
                                                            resetStarColors();

                                                            if (localStorage.getItem('ratedIndex') != null) {
                                                                setStars(parseInt(localStorage.getItem('ratedIndex')));
                                                                uID = localStorage.getItem('uID');
                                                            }

                                                            $('.fa-star').on('click', function () {
                                                                ratedIndex = parseInt($(this).data('index'));
                                                                localStorage.setItem('ratedIndex', ratedIndex);
                                                                saveToTheDB();
                                                            });

                                                            $('.fa-star').mouseover(function () {
                                                                resetStarColors();
                                                                var currentIndex = parseInt($(this).data('index'));
                                                                setStars(currentIndex);
                                                            });

                                                            $('.fa-star').mouseleave(function () {
                                                                resetStarColors();

                                                                if (ratedIndex != -1)
                                                                    setStars(ratedIndex);
                                                            });
                                                        });

                                                        function saveToTheDB() {
                                                            $.ajax({
                                                                url: "film.html.twig",
                                                                method: "POST",
                                                                dataType: 'json',
                                                                data: {
                                                                    save: 1,
                                                                    uID: uID,
                                                                    ratedIndex: ratedIndex
                                                                }, success: function (r) {
                                                                    uID = r.id;
                                                                    localStorage.setItem('uID', uID);
                                                                }
                                                            });
                                                        }

                                                        function setStars(max) {
                                                            for (var i=0; i <= max; i++)
                                                                $('.fa-star:eq('+i+')').css('color', 'yellow');
                                                        }

                                                        function resetStarColors() {
                                                            $('.fa-star').css('color', 'black');
                                                        }
                                                    </script>
                                                    </p>




                                                </table>

                                                <script>
                                                    // Get the modal
                                                    var modal{{ U.id }} = document.getElementById('{{ U.id }}');

                                                    // Get the button that opens the modal
                                                    var btn{{ U.id }} = document.getElementById("btn{{ U.id }}");

                                                    // Get the <span> element that closes the modal
                                                    var span = document.getElementsByClassName("close")[0];

                                                    // When the user clicks the button, open the modal
                                                    btn{{ U.id }}.onclick = function() {
                                                        modal{{ U.id }}.style.display = "block";
                                                    }

                                                    // When the user clicks on <span> (x), close the modal
                                                    span.onclick = function() {
                                                        modal{{ U.id }}.style.display = "none";
                                                    }

                                                    // When the user clicks anywhere outside of the modal, close it
                                                    window.onclick = function(event) {
                                                        if (event.target == modal{{ U.id }}) {
                                                            modal{{ U.id }}.style.display = "none";
                                                        }
                                                    }
                                                </script>


                                            </div>

                                        </div>

                                    </div>
                                </div>

                            </ul>
                        {% endfor %}
                        <div class="col-sm-12 text-center breadcrumbs_inner">
                        {{ knp_pagination_render(film) }}
                        </div>
                        <script>
                            // When the user clicks anywhere outside of the modal, close it
                            window.onclick = function(event) {
                                {% for U in film %}
                                if (event.target == document.getElementById('{{ U.id }}')) {
                                    document.getElementById('{{ U.id }}').style.display = "none";
                                }
                                {% endfor %}
                            }
                        </script>
                    </div><!-- eof .columns-2 -->








                </div>
                </div>




    </section>
{% endblock %}
