{% extends 'base.html.twig' %}

{% block title %}SimpleUser index{% endblock %}

{% block body %}
    <h1>SimpleUser index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Cin</th>
                <th>Mail</th>
                <th>Mdp</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for simple_user in simple_users %}
            <tr>
                <td>{{ simple_user.id }}</td>
                <td>{{ simple_user.nom }}</td>
                <td>{{ simple_user.prenom }}</td>
                <td>{{ simple_user.cin }}</td>
                <td>{{ simple_user.mail }}</td>
                <td>{{ simple_user.mdp }}</td>
                <td>
                    <a href="{{ path('simple_user_show', {'id': simple_user.id}) }}">show</a>
                    <a href="{{ path('simple_user_edit', {'id': simple_user.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('simple_user_new') }}">Create new</a>
{% endblock %}
