<html>
<head>
    <meta charset="UTF-8">
    <title>Liste des promotions</title>
</head>
<body>
<h1>La liste des promotions</h1>

<table id="customers">
    <thead>
    <tr>
        <th>Id</th>
        <th>Nom</th>
        <th>Type</th>
        <th>Description</th>
        <th>Pourcentage</th>
        <th>Code</th>
        <th>Catégorie</th>


    </tr>
    </thead>
    <tbody>
    {% for U in promotion %}
        <tr>
            <td>{{ U.id }}</td>
            <td>{{ U.nom }}</td>
            <td>{{ U.type}}</td>
            <td>{{ U.description}}</td>
            <td>{{ U.pourcentage}}</td>
            <td>{{ U.code }}</td>
            <td>{{ U.cat.categorie }}</td>


        </tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>
<div class="icon-container">
    <a href="index.html.twig">
        <i class="far fa-arrow-alt-circle-left"></i>
        Back

    </a>
</div>

<br><br>
<style>
    h1{
        position: center;
        color : #258692;
    }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #258692;
    }

    li {
        float: left;
    }

    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    li a:hover:not(.active) {
        background-color: #111;
    }

    .active {
        background-color: #4c6daf;
    }
    #customers {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    #customers td, #customers th {
        border: 1px solid #ddd;
        padding: 8px;

    }

    #customers tr:nth-child(even){background-color: #f2f2f2;}

    #customers tr:hover {background-color: #ddd;}

    #customers th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #258692;
        color: #FFFFFF;
    }

</style>